* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
}

.quote-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.head {
  font-size: 2em;
  font-weight: 600;
  text-decoration: underline;
}

.top-box {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.new-btn {
  padding: 4px 8px;
  border: 1px solid grey;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  color: green;
}
